.active {
	background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
